<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% load static %}
    <style>
        .logo {
            flex: 1;
        }
        .functionTexts{
            color: lightgrey;

        }
        #id_title{
        width: 80%;
        border: none;
        border-bottom: 2px solid navy;
        }
        #id_description, #id_url{
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        }
        .formCard{
            padding: 12px 20px;
            margin: 100px 0;
        }
        .codeHighlight{
            color: #E01E5A;
        }

    </style>
</head>
<body>


{% load static %}

{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endif %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header" style="text-align: center">
            <a href="{% url 'index' %}">
                <img class="navbar-brand" src="../../../media/dlab_logo_white.png">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'admin:index' %}">ADMIN</a></li>
            <li><a href="{% url 'bookmark_index' %}">BOOKMARK</a></li>
            <li><a href="{% url 'blog_index' %}">BLOG</a></li>
        </ul>

        {% if user.is_active %}

        <div class="navbar-nav" style="padding-top: 10px;">
            <a href="{% url 'logout' %}">
                <button class="btn btn-sm btn-outline-secondary" type="button">Sign Out</button>
            </a>
            <a href="{% url 'password_change' %}">
                <button class="btn btn-sm btn-outline-secondary" type="button">Change Password</button>
            </a>
        </div>
        <p class="navbar-text">디랩의 자랑, {{ user.get_username }}님을 환영합니다.</p>

        {% else %}

        <div class="navbar-nav" style="padding-top: 10px;">
            <a href="{% url 'register' %}">
                <button class="btn btn-sm btn-outline-secondary" type="button">Sign Up</button>
            </a>
            <a href="{% url 'login' %}">
                <button class="btn btn-sm btn-outline-secondary" type="button">Login</button>
            </a>
        </div>
        <p class="navbar-text">some text</p>
        {% endif %}
    </div>
</nav>


<br><br>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 logo">


        <div class="thumbnail formCard">
            <h4>새로운 유튜브 북마크를 추가합니다.</h4>
            <p>아래 정보를 정확하게 입력해주세요.</p>
            <br><br>

            <form class="card-text top-buffer" action="." method="post" enctype='multipart/form-data'>
                {% csrf_token %}

                <fieldset class="aligned">
                    <br>
                    <div class="form-group">
                        제목: {{ form.title }}
                    </div>
                    <br>
                    <div class="form-group">
                        주소(URL): <br>
                        - 반드시 /embed/형태로 입력하세요.<br>
                        <div class="well">
                            예)<br>
                            <span class = "codeHighlight">
                                https://www.youtube.com/watch?v=oRzwQrpaA9Q<br>
                                -> https://www.youtube.com<b>/embed/</b>oRzwQrpaA9Q
                            </span>
                        </div>
                        <br>
                        {{ form.url }}
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">업로드</button>
                    <br>
                    <br>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>


</body>
</html>